<p>home works!</p>
<form #logform="ngForm" [formGroup]="loginForm" (ngSubmit)="processForm(logform)">
    <div class="div">
        <mat-form-field>
            <input type="text" matInput formControlName="name" placeholder="Enter your name.">
            <mat-error *ngIf="loginForm.get('name').invalid">Please enter a valid name.</mat-error>
        </mat-form-field>
    </div>
    <div class="div">
        <mat-form-field>
            <input type="text" matInput formControlName="contact" placeholder="Enter your phone number.">
            <mat-error *ngIf="loginForm.get('contact').invalid">Please enter a valid phone number.</mat-error>
        </mat-form-field>
    </div>
    <div class="div">
        <mat-form-field>
            <input matInput [max]="minDate" [matDatepicker]="dobpicker" formControlName="dob" placeholder="Date of birth." [value]="25-11-1996">
            <mat-datepicker-toggle matSuffix [for]="dobpicker"></mat-datepicker-toggle>
            <mat-datepicker #dobpicker startView="multi-year"></mat-datepicker>
            <mat-error *ngIf="loginForm.get('dob').invalid">Please enter a valid date.</mat-error>
        </mat-form-field>
    </div>
    <div class="div">
        <mat-radio-group formControlName="gender">
            Gender
            <mat-radio-button value="Male">Male</mat-radio-button>
            <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="div">
        <button type="submit" color="primary" mat-raised-button [disabled]="loginForm.invalid">Sign In</button>
    </div>
</form>

<form #form="ngForm" [formGroup]="orderForm">
    <div class="div">
        <mat-form-field>
            Order Date {{orderDate}}
            <input type="text" matInput [hidden]="true" formControlName="date">
        </mat-form-field>
    </div>
    <div class="div">
        <mat-radio-group formControlName="type">
            Order Type
            <mat-radio-button value="buy">Buy</mat-radio-button>
            <mat-radio-button value="sell">Sell</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="div">
        <mat-form-field>
            <!-- DISPLAY BITCOIN TO USD PRICE -->
            USD/BTC $10/0.1
            <input type="text" matInput [hidden]="true" placeholder="SGD/BTC $10/0.1">
        </mat-form-field>
    </div>
    <div class="div">
        <mat-form-field>
            <!-- DISPLAY TOTAL PRICE TO CURRENT QTY -->
            SGD/BTC $10/0.1
            <input type="text" matInput [hidden]="true" placeholder="SGD/BTC $10/0.1">
        </mat-form-field>
    </div>
    <div class="div">
        <mat-form-field>
            <input type="text" matInput formControlName="unit" placeholder="No. of units.">
            <mat-error *ngIf="orderForm.get('unit').invalid">Please enter a valid number.</mat-error>
        </mat-form-field>
    </div>
    <div class="div">
        <button color="primary" (click)="processForm(form)" mat-raised-button [disabled]="orderForm.invalid">Proceed</button>
        <button color="primary" type="button" (click)="resetForm(form)" mat-raised-button>Reset</button>
    </div>
</form>
<div *ngIf="isProceed">
    <div *ngIf="isBuying">
        <!-- BUYING -->
        equivalent amount of price and bitcoin  received decimal <br>
        display qr code for paylah/paynow <br>
        allow user to input bitcoin address <br>
    </div>
    <div *ngIf="!isBuying">
        <!-- SELLING -->
        equivalent amount of price and bitcoin  received  decimal <br>
        paylah or paynow code text <br>
        display bitcoin address
    </div>

</div>
